#{extends 'main.html' /}
#{set title:'Complete Registration' /}

<h1>Complete Registration</h1>

<p>You are almost done, but we need a little more Information to complete your registration!</p>

#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}

<p>Welcome ${uid}</p>

<p>We need to know your TELUS mobility cell phone number</p>

#{form @Application.updateUserInfo(name,cell)}
  
	  <p>
        <label for="uid">Your user id: </label>
        <input type="text" name="uid" id="uid" value="${uid}" />
    </p> 
    
    <p>
        <label for="cell">Your cell phone: </label>
        <input type="text" name="cell" id="cell" value="${cell}"/>
    </p>  
    <p>
        <input type="submit" value="Submit" />
    </p>
    <input type="hidden" name="redirectURL" id="redirectURL" value="${redirectURL}"/>
#{/form}

<p> redirectURL is ${redirectURL} </p>

