#{extends 'main.html' /}
#{set title:'Complete Registration' /}

<h1>Complete Registration</h1>

<p>Welcome ${uid}</p>


<p>You are almost done, but we need a little more Information to complete your registration!</p>

#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}


<p>Please complete your profile below</p>


#{form @Application.updateUserInfo(uid,missing,refid)}
  
	  <p>
        <label for="uid">Your user id: </label>
        <input type="text" name="uid" id="uid" value="${uid}" />
    </p> 
    
   
    <input type="hidden" name="refid" id="refid" value="${refid}"/>
  
    
    <p>The following fields need to be updated in your profile: ${missing}</p>
    
    <table>
    
	%{
     for(field in missing.tokenize(",")) { 
	 }%
	 <tr>
	 <td>${field}</td> <td>  <input type="text" name="ldap-${field}" id="ldap.${field}"/> </td>
	 </tr>
	%{
     }
	}%

    
    </table>
    
     <p>
        <input type="submit" value="Submit" />
    </p>
#{/form}



